<app-header></app-header>
<div class="container" style="padding-top: 50px; margin-bottom: 7.8%;">
    <div class="row">
       <div class="col-md-12">
        <h2 style="text-align: center;"><u>Bookings List</u></h2>
        <button class="btn btn-primary btn-sm" style="margin-bottom: 20px;" (click)="book_appointment()"><i class="fa fa-plus"></i> Book Appointment</button>
        
         <table class="table table-bordered table-striped">
             <thead  class="thead-light">
               <tr style="text-align: center;">
                 <th scope="col">Appointment Id</th>
                 <th scope="col">Appointment Date</th>
                 <th scope="col">Doctor</th>
                 <th scope="col">Remark</th>
                 <th scope="col">Status</th>
                 <th scope="col">OP Fee</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let doc of bookingsList; let i = index">
                 <td>{{doc.appointmentId}}</td>
                 <td>{{doc.appointmentDate}}</td>
                 <td>Dr. {{getDoctor(doc.doctor)}}</td>
                 <td>{{doc.remark}}</td>
                 <td><span style="color:green">{{doc.appointmentStatus}}</span></td>
                 <!-- <td>&#8377;{{doc.chargedPerVisit}}</td> -->
                 <td>&#8377; {{getDoctorFee(doc.doctor)}}</td>
               </tr>
             </tbody>
           </table>
       </div>
     </div>
 </div>
 <app-footer></app-footer>