@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Stick&display=swap');

#cards{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px ;
}
.card{
	width: 300px;
    height: auto;
    margin:10px;
	margin-bottom: 30px;
    background-color: #0d6efd;
	color:white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease-in-out;
}
.card-title{
	font-size: 2em;
	font-family: 'Times New Roman';
}
.content{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header
{
	background-color: #0b3c3f;
	position: relative;
	height: 500px;
	width: 100%;
	padding: 0 80px;
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1px 1px 20% 20%;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
#logo{
	width: 100px;
	height: 40px;
}
#img3{
	width: 400px;
	height: 380px;
	margin-right: 0%;
	margin-top: 1%;
	
}
.header h5
{
	font-family: 'Fjalla One', sans-serif;
	margin-right: 19%;
	background: none;
	text-transform: uppercase;
	color: rgb(141, 214, 46);
}
.header h5 span
{
	font-family: 'Fjalla One', sans-serif;
	background: none;
	color: orange;
}
.nav label{
	color: #fff;
	display: flex;
	align-items: center;
	letter-spacing: 1px;
	font-size: 25px;
	padding: 5px;
   font-family: 'Skranji', cursive;
}
.nav label:hover{
	cursor: pointer;
}
.nav label img{
	height: 50px;
	width: 80px;
}
.marquee
{
	color: rgb(10, 58, 52);
	font-size: 18px;
	font-style: bold;
	font-family: roboto;
	padding: 10px;
	margin-top: -2%;
	background-color: #b7f0f1;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	border-radius: 20px;
}
#observe{
	margin-right: 15px;
	margin-left: 15px;
}
.main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 0 90px;
}
.main img
{
	animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 3px; 
	height: 400px;
	width: 540px;
}

.text h1
{
	color: #fff;
	
}
.text h2
{
	color: #fff;
}
.text p{
	margin-top: 15px;
	color: #fff;
	margin-bottom: 10px;
}
.text button{
	margin-top: 15px;
	padding: 10px 27px;
}
#create_acc{
	color: #fff;
	background: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 18px;
	outline: none;

 } 
#create_acc:hover
{
	padding: 6px 15px;
	background: linear-gradient(to bottom, #ff9933 0%, #ff6600 100%);
	color: #fff;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
}
 #log{
	color: black;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 18px;
    outline: none;
    margin: 10px;
 }
#log:hover
{
	background: linear-gradient(to bottom, #00ccff 0%, #3399ff 100%);
	color: #fff;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
}

.section-bg 
{
	padding-top: 25px;
	margin-bottom: 5px;
    background-color: #f0fcfb;
    box-shadow: 1px 1px 18px #888888;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.container
{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
.mid_body{
	height: 400px;
	width: 83%;
	display: flex;
	margin-top: 15px;
	position: relative;
} 


#btn{
	margin-bottom: 15px;
}
.details{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5%;
}
.details h2{
	opacity: 0.7;
}
.details p{
	opacity: 0.7;
	line-height: 22px;
}
.details img{
	margin-bottom: 10px;
}
.detail_1{
	margin-left: 100px;
}

.detail_1, .detail_2, .detail_3, .detail_4{
	height: auto;
	width: 320px;
	display: flex;
	margin-right: 15px;
	flex-direction: column;
	align-items: center;
	transition: transform .2s;
	background-color: white;
	padding: 10px 20px 5px 20px;
	border-radius: 10px;
	box-shadow: 0.1px 4px 8px 2px rgba(0,0,0,0.2);
}
.detail_1:hover, .detail_2:hover, .detail_3:hover, .detail_4:hover{
transform: scale(1.05); 
cursor: pointer;
}

.bg-light {
    background-color: #EFF5FF !important;
}

.rounded{
	border-radius: 15px !important;
}

.service-item {
    transition: .5s;
	
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}
.contact{
	margin-top: 0;
	margin-bottom:15px ;
	text-align: center;
}

.side{
	margin-left: 19%;
}

body{
	font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	color: #8D8E92 !important;
}

*{
	background-image: url("/public/background.png");
}