<app-header></app-header>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Admin dashboard</h1>
            <h1>Welcome {{userdata.fullName}}</h1>
        </div>
        <div class="row g-4" style="justify-content: center;">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s" (click)="patientslist()">
                <div class="service-item bg-light rounded h-100 p-5" style="display: flex;">
                    <div style="padding-right: 20%;">
                        <h2 class="mb-3">Total User</h2>
                        <h4>Count : {{userList.length}}</h4>
                    </div>
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fa-user text-primary fs-4"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.3s" (click)="doctorsList()">
                <div class="service-item bg-light rounded h-100 p-5" style="display: flex;">
                    <div style="padding-right: 20%;">
                        <h2 class="mb-3">Total Doctors</h2>
                        <h4>Count : {{doctorList.length}}</h4>
                    </div>
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fa-user-md text-primary fs-4"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s" (click)="bookingsList()">
                <div class="service-item bg-light rounded h-100 p-5" style="display: flex;">
                    <div style="padding-right: 20%;">
                        <h2 class="mb-3">Total bookings</h2>
                        <h4>Count : {{bookingList.length}}</h4>
                    </div>
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                        style="width: 65px; height: 65px;">
                        <i class="fa fa-comment-medical text-primary fs-4"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>