<nav style="box-shadow: 0 0.45rem 0.25rem rgba(0, 0, 0, 0.075) !important;"
    class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Klinik</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a  class="log nav-link active" id="log" (click)="home()"><i class="fa fa-home"></i> Home</a>
            <a class="log nav-link" id="log" (click)="schedule()"><i class="fa fa-user-md" ></i> My Schedule</a>
            <a class="log nav-link" id="log" (click)="update()"><i class="fa fa-user-plus" ></i> Edit profile</a>
            <a class="log nav-link" id="log" (click)="logout()"><i class="fa fa-user-plus"></i> Logout</a>
        </div>
    </div>
</nav>